<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MyCompany</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>controllers.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>controllers.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>sandbox.smtp.mailtrap.io</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>2525</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>83057d0bf81e0b</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>560ef5b7effaef</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Departments</display-name>
    <servlet-name>Departments</servlet-name>
    <servlet-class>controllers.Departments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Departments</servlet-name>
    <url-pattern>/Departments</url-pattern>
  </servlet-mapping>
</web-app>